!!! XHTML
%html
  %head
    %title shokai.github.io
  %body
    %h1
      shokai
    %p
      %img{:src => 'http://twiticon.herokuapp.com/shokai/bigger'}
    %a{:href => 'http://shokai.org'}
      shokai.org
    %h2 Rubygems
    %ul
      %li
        %a{:href => 'http://shokai.github.io/arduino_firmata'} arduino_firmata
      %li
        %a{:href => 'http://shokai.github.io/args_parser'} args_parser
      %li
        %a{:href => 'http://shokai.github.io/event_emitter'} event_emitter
      %li
        %a{:href => 'https://github.com/shokai/gyazz-markup'} gyazz-markup
      %li
        %a{:href => 'https://github.com/shokai/hugeurl'} hugeurl
      %li
        %a{:href => 'http://github.com/shokai/ruby-im-kayac'} im-kayac
      %li
        %a{:href => 'http://github.com/shokai/linda-ruby'} linda
      %li
        %a{:href => 'http://shokai.github.io/serialport-server'} SerialPort Server
      %li
        %a{:href => 'https://github.com/shokai/sinatra-rocketio'} Sinatra Rocket I/O
      %li
        %a{:href => 'https://github.com/shokai/sinatra-rocketio-linda'} Sinatra Rocket I/O Linda
      %li
        %a{:href => 'https://github.com/shokai/ruby-tiqav'} tiqav
      %li
        %a{:href => 'https://github.com/shokai/tmp_cache'} tmp_cache
      %li
        %a{:href => 'http://shokai.github.io/tw'} Tw
      %li
        %a{:href => 'http://shokai.github.io/wifi_location'} wifi_location
    %h2 JavaScript
    %ul
      %li
        %a{:href => 'http://shokai.github.io/event_emitter.js'} event_emitter.js
      %li
        %a{:href => 'http://shokai.github.io/xframe.js'} xframe.js
    %h2 jQuery plugins
    %ul
      %li
        %a{:href => 'http://shokai.github.io/jQuery.editable'} jQuery.editable
    %h2 Android Libraries
    %ul
      %li
        %a{:href => 'http://shokai.github.io/ArduinoFirmata-Android'} ArduinoFirmata
    %h2 Apps
    %ul
      %li
        %a{:href => 'http://shokai.github.io/face-upload'} Face-upload
    %h2 WebServices
    %ul
      %li
        %a{:href => 'http://twiticon.herokuapp.com'} Twit Icon
      %li
        %a{:href => 'http://shokai.github.io/ppcode/'} ppcode
