!!! XHTML
%html
  %head
    %title shokai.github.com
  %body
    %h1
      shokai
    %p
      %img{:src => 'http://twiticon.herokuapp.com/shokai/bigger'}
    %a{:href => 'http://shokai.org'}
      shokai.org
    %h2 Rubygems
    %ul
      %li
        %a{:href => 'http://shokai.github.com/arduino_firmata'} arduino_firmata
      %li
        %a{:href => 'http://shokai.github.com/args_parser'} args_parser
      %li
        %a{:href => 'http://shokai.github.com/event_emitter'} event_emitter
      %li
        %a{:href => 'http://github.com/shokai/ruby-im-kayac'} im-kayac
      %li
        %a{:href => 'http://shokai.github.com/serialport-server'} SerialPort Server
      %li
        %a{:href => 'https://github.com/shokai/sinatra-rocketio'} Sinatra Rocket I/O
      %li
        %a{:href => 'http://shokai.github.com/tw'} Tw
      %li
        %a{:href => 'http://shokai.github.com/wifi_location'} wifi_location
    %h2 JavaScript
    %ul
      %li
        %a{:href => 'http://shokai.github.com/event_emitter.js'} event_emitter.js
    %h2 jQuery plugins
    %ul
      %li
        %a{:href => 'http://shokai.github.com/jQuery.editable'} jQuery.editable
    %h2 Android Libraries
    %ul
      %li
        %a{:href => 'http://shokai.github.com/ArduinoFirmata-Android'} ArduinoFirmata
    %h2 Apps
    %ul
      %li
        %a{:href => 'http://shokai.github.com/face-upload'} Face-upload
    %h2 WebServices
    %ul
      %li
        %a{:href => 'http://twiticon.herokuapp.com'} Twit Icon