!!! XHTML
%html
  %head
    %title shokai.github.com
  %body
    %h1
      shokai
    %p
      %img{:src => 'http://twiticon.herokuapp.com/shokai/bigger'}
    %a{:href => 'http://shokai.org'}
      shokai.org
    %h2 Rubygems
    %ul
      %li
        %a{:href => 'http://shokai.github.com/args_parser'} args_parser
      %li
        %a{:href => 'http://shokai.github.com/serialport-server'} SerialPort Server
      %li
        %a{:href => 'http://shokai.github.com/tw'} tw